/*
#740101 Vermelho escuro
#AD0001 Vermelho
#EEBA2F Amarelo
#D3A626 Amarelo Escuro
#000000 Preto
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

.container{
    max-width: 1400px;
    margin: auto;
    padding: 20px;
}


body{
    background-color: rgb(51, 1, 1);
}

header{
    background-color: #740101;
    color:  aliceblue;
    padding: 15px 15px 15px 15px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
}

nav ul{
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

nav ul li{
    margin-left: 20px;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
}

.logo{
    font-size: 2em;
    font-weight: bold;
}

nav a:hover{
    color: aliceblue;
    text-decoration: none;
    padding: 0px 1px 1px 0;
    position: relative;
}

nav a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #EEBA2F;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

a:hover::after{
    width: 100%;
}

header .container{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}

.banner{
background: url(../img/banner1.png) no-repeat center/cover;
height: 400px;
display: flex;
margin-top: 90px;
align-items: flex-end;
justify-content: center;
color: #D3A626;
font-size: 1.3rem;
text-align: center;
text-shadow: 4px 4px black;
}

.logo{
    width: 20%;
}

section{
    scroll-margin-top: 135px;
}

#quem{
  padding: 35px;
  background-color: rgb(51, 1, 1);
  color: aliceblue;  
}

.quem-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 40px;
   max-width: 1400px;
   margin: auto;
}

.centro{
    text-align: center;
}

.quem-texto{
    flex: 1;
    padding: 20px;
}

.quem-texto h1{
    font-size: 2.5;
    margin-bottom: 20px;
    color: #D3A626
}

.quem-texto p{
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 10px;
}

.quem-texto a{
    text-decoration: none;
    color: #805700;
}

.font{
    color: rgb(255, 255, 255);
    margin-top: 15px;
}

.hex-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    flex: 1;
}

.hex{
    width: 140px;
    height: 120px;
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    overflow: hidden;
    background-color: darkgray;
    position: relative;
}

.hex img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#livros{
    background-color:rgb(51, 1, 1);
    padding-left: 20px;
    padding-right: 20px;
    scroll-margin-top: 190px;
}

#livros .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 4fr));
    gap: 10px;
    text-align: center;
    padding: 50px 0;
}

#livros .item{
    background-color: #5a0202 ;
    border: 2.5px solid #ad000a ;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0.1);
    transition: transform 0.5 ease; box-shadow: 0.2 ease;
    cursor: pointer;
}

#livros .item:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgb(31, 29, 29);
}

#livros .item:active{
    transform: scale(0.98);
    box-shadow: 0 4px 6px rgba(0, 0, 0.15);
}

#livros .item p{
    margin-top: 15px;
    font-size: 0.95em;
    color: aliceblue;
}

#livros .item h3{
    text-align: center;
    align-items: end;
    color: #D3A626
}

#livros .imagem img{
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-bottom: 10px;
}

#livros h1{
    font-size: 2.5;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #D3A626
}

.modal{
    background: aliceblue;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    text-align: center;
}

.card h3{
    margin-top: 0;
}

.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #805700;
    color: aliceblue;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center; 
    align-items: center;
}

.modal:target{
    display: flex;
}

.modalContent{
    background: #740101;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    text-align: center;
    color: aliceblue;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

.modalContent h3{
    color: rgb(105, 82, 31);
}

.closeBtn{
    margin-top: 20px;
    display: inline-block;
    padding: 8px 16px;
    background:  #805700;
    color: aliceblue;
    border-radius: 6px;
    text-decoration: none;
}

#filmes{
    background-color:rgb(51, 1, 1);
    padding-left: 20px;
    padding-right: 20px;
    scroll-margin-top: 190px;
}

#filmes h1{
    margin-top: 40px;
    font-size: 2em;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #D3A626
     
}

#filmes .containerl{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
    gap: 10px;
    text-align: center;
    padding: 50px 0;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}

#filmes .imgl img{
    background-color: #5a0202 ;
    border: 2.5px solid #ad000a ;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0.1);
    transition: transform 0.5 ease; box-shadow: 0.2 ease;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 250px;
    width: 100%;
}

#filmes .imgl img:hover{
    transform: translateX(-5px);
    box-shadow: 0 8px 16px rgb(31, 29, 29);
}

#filmes .imgl img:active{
    transform: scale(0.98);
    box-shadow: 0 4px 6px rgba(0, 0, 0.15);
}

#filmes h3{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
    color: #D3A626
}

#filmes .h1{
    font-size: 2.5;
    margin-bottom: 20px;
    color: #D3A626
}

.bannerContato{
    background: url(../img/banner_contato.jpg) no-repeat center/cover;
    height: 400px;
    display: flex;
    margin-top: 90px;
    align-items: center;
    justify-content: center;
    color: #D3A626;
    font-size: 1.3rem;
    text-align: center;
    text-shadow: 4px 4px black;
}

.bannerContato h2{
    flex-direction: column;
}

.formContato{
    background-color:  #5a0202;
    border-color: #ad000a;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    color: #805700;
}

.contatog{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 1.2em;
}
       
@media (max-width:675px){
    header .container, .quem-container{
        flex-direction: column;
        text-align: center;
    }

    #quem{
        scroll-margin-top: 195px;
    }

    nav ul{
        margin-top: 10px;
        flex-direction: column;
    }

    .banner{
        margin-top: 160px;
        width: 100%;
        text-align: center;
        flex-wrap: wrap;
    }

    .logo{
        width: 35%;
        align-items: center;
    }

    #livros{
        scroll-margin-top: 250px;
    }

     #livros .container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

       #livros .item{
        margin: 0; 
        justify-items: center;
        align-items: center;
    }

    .modal{
        margin-top: 145px;
    }

    .modalContent{
        max-height: 60vh;
    }

    #filmes{
        scroll-margin-top: 250px;
    }

    #filmes .imgl img{
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}

@media (max-width:321px){

}